            @-webkit-keyframes animate-text-gradient-fill {
                from {background-position-x: 0px;}
                to {background-position-x: 2000px;}
            }
            html {
                scroll-behavior: smooth;
            }
            :root{
                cursor: default;
                --clr-black: #1C1C1C;
                --clr-light-gray: #F5F5F5;
                --clr-dark-gray: #505050;
                --clr-yellow: #FFE60A;
                --clr-blue: #446CFC;
                --clr-patreon: #E2020F;
                --font-main: 'Montserrat';
                --size-header: 50px;
                --size-subhead: 30px;
                --size-large: 18px;
                --size-body: 16px;
                --size-gap: 20px;
                --page-width: 1500px;
                --frame-height: 850px;
                --grad-blue: linear-gradient(90deg, #446CFC 0%, #6C00FC 50%, #446CFC 100%);
            }
            body{
                color: var(--clr-black);
                background-color: var(--clr-light-gray);
                z-index: -1;
                font-family: var(--font-main);
                font-size: var(--size-body);
                font-weight: 500;
                -webkit-font-smoothing: antialiased;
                user-select: none; /* supported by Chrome and Opera */
                -webkit-user-select: none; /* Safari*/
                -khtml-user-select: none; /* Konqueror HTML*/
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge*/
            }
            h1{
                font-size: var(--size-header);
                font-weight: 700;
            }
            h2{
                font-size: var(--size-subhead);
                font-weight: 700;
            }
            *.blue{
                color: var(--clr-blue);
            }
            h3{
                font-size: var(--size-large);
                font-weight: 500;
            }
            hr{
                border-width: none;
                border-style: none;
                height: var(--size-gap);
            }
            a.button{
                color: var(--clr-blue);
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 15px 20px;
                border: 2px solid var(--clr-blue);
                border-radius: 4px;
                transform: scale(1);
                transition: all ease-in-out 50ms;
            }
            a.copy, a.patreon{
                padding: 15px 20px;
                border: 2px solid var(--clr-dark-gray);
                border-radius: 4px;
                font-size: 14px;
                transform: scale(1);
                transition: all ease-in-out 50ms;
            }
            a.patreon{
                color: var(--clr-light-gray);
                background-color: var(--clr-patreon);
                border-color:var(--clr-patreon);
                font-weight: 600;
                display: flex;
                flex-direction: row;
                justify-items: center;
                align-items: center;
                column-gap: 10px;
            }
            a.patreon:before{
                display: inline-block;
                content: ' ';
                background-image: url('assets/icon_patreon.svg');
                background-position: center center;
                background-repeat: no-repeat;
                width: 17px;
                height: 17px;
            }
            a.button:hover, a.patreon:hover, a.copy:hover{
                transform: scale(1.03);
            }
            a.button:active, a.patreon:active, a.copy:active{
                transform: scale(0.95);
            }
            a.copy::after{
                content: 'copy';
                background-color: var(--clr-dark-gray);
                color: var(--clr-light-gray);
                padding: 15px;
                margin: -15px -20px -15px 20px;
            }
            a.copy.copied{
                border-color: var(--clr-yellow);
            }
            a.copy.copied::after{
                content: 'copied!';
                background-color: var(--clr-yellow);
                color: var(--clr-dark-gray);
            }
            p.note{
                font-size: 8px;
                font-weight: 700;
            }
            article{
                width: 100vw;
                max-width: 100%;
                min-width: 100%;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                padding: var(--size-gap);
                box-sizing: border-box;
            }
            article.center-center{
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            article.blue{
                background-color: var(--clr-blue);
                color: var(--clr-light-gray);
            }
            article.blue h2{
                color: var(--clr-yellow);
            }
            article.blue a.button{
                color: var(--clr-light-gray);
                border: 2px solid var(--clr-light-gray);
            }
            article.black{
                background-color: var(--clr-black);
                color: var(--clr-light-gray);
            }
            article.black h2, article.black p {
                color: var(--clr-light-gray);
            }
            article.black a{
                color: var(--clr-yellow);
            }
            div.col-two{
                display: flex;
                flex-direction: row;
                grid-template-columns: repeat(2, 1fr);
                box-sizing: border-box;
                grid-auto-rows: auto;
            }
            div.col-three{
                display: flex;
                flex-direction: row;
                grid-template-columns: repeat(3, 1fr);
                box-sizing: border-box;
                grid-auto-rows: auto;
            }
            div.video{
                width: 450px;
                position: relative;
                aspect-ratio: auto 16/9;
            }
            div.video > iframe{
                height: 100%;
                width: 100%;
                border-radius: 4px;
            }
            div.text-left{
                text-align: left;
            }
            div.gap{
                gap: var(--size-gap);
            }
            div.gap-two{
                gap: calc(var(--size-gap)*2);
            }
            div.gap-three{
                gap: calc(var(--size-gap)*3);
            }
            div.social-links a{

            }
            div.social-links a > img{
                width: 50px;
            }
            
    @media screen and (max-width: 1100px) {
        .col-two.pop-one {
            flex-direction: column;
            grid-template-columns: 1fr;
            grid-column-gap: var(--size-gap);
            width: 100%;
        }
        div.video{
            width: 100%;
        }
    }            
    @media screen and (max-width: 600px) {
        .col-two.pop-one-delay {
            flex-direction: column;
            grid-template-columns: 1fr;
            grid-column-gap: var(--size-gap);
            width: 100%;
        }
    }